body {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.important {
  color: red;
}

.left {
  float: left;
  width: 35%;
}

.right {
  float: right;
  width: 65%;
}

.text {
  font-size: 1.05em;
}

th, td {
  padding: 7px 15px;
  text-align: left;
}

#point {
  text-align: center;
}
