{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odhlásenie</title>
    <!--<link rel="icon" href="../img/icon.png" type="png">-->
    <link rel="stylesheet" href="{% static 'css/logout.css' %}">
  </head>
  <body>
    <a href="../logout/request/user/">
      <p>
        <br>
        <img src="{% static 'images/logout.png' %}" alt="Logout image" width="350px" height="350px">
        <br>
        <strong>Odhlásenie</strong>
      </p>
    </a>
  </body>
</html>
