{% load static %}

<!-- Auto refresh -->
<meta http-equiv="refresh" content="10">

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Správca</title>
    <!--<link rel="icon" href="../img/icon.png" type="png">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/spravca.css' %}">
  </head>
  <body>
    <h1>Správca</h1>
    {% if user.is_superuser %}
      <div width=100%>
        <div class="left">
          <table>
            <tr>
              <th>Meno družinky</th>
              <th>Body</th>
            </tr>
            {% for druzinka in druzinky %}
              <tr>
                <td>{{ druzinka.name }}</td>
                <td>{{ druzinka.points }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="right">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </body>
</html>
